@page
@model TwitchBot.Service.Pages.DropsModel
@{
    Layout = "_LayoutBlank";
}
@section head
{
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TwitchBot.Service</title>
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/styles.css" />
}
<img class="target" src="images/grass-target.png" />
<script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script>
<script src="~/lib/twemoji-parser/dist/index.js"></script>
<script src="~/js/drops.js"></script>